<h1>Hey, you've found a treasure, congratulations!</h1>

<p>You are <%= @nth_found %> treasure hunter who has found the treasure</p>
<p>The exact position of the treasure is: <%= @treasure_location %></p>
